# REGION ID (us | eu | apac)
REGION=us

# Server
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=incident_db

# Replication URLs
US_SERVICE_URL=http://localhost:3000
EU_SERVICE_URL=http://localhost:3001
APAC_SERVICE_URL=http://localhost:3002